<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
         #map {
             height: 100%;
         }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }

         /* The popup bubble styling. */
         .popup-bubble {
             /* Position the bubble centred-above its parent. */
             position: absolute;
             top: 0;
             left: 0;
             transform: translate(-50%, -100%);
             /* Style the bubble. */
             background-color: white;
             padding: 5px;
             border-radius: 5px;
             font-family: sans-serif;
             overflow-y: auto;
             max-height: 60px;
             box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.5);
         }
         /* The parent of the bubble. A zero-height div at the top of the tip. */
         .popup-bubble-anchor {
             /* Position the div a fixed distance above the tip. */
             position: absolute;
             width: 100%;
             bottom: /* TIP_HEIGHT= */ 8px;
             left: 0;
         }
             /* This element draws the tip. */
             .popup-bubble-anchor::after {
                 content: "";
                 position: absolute;
                 top: 0;
                 left: 0;
                 /* Center the tip horizontally. */
                 transform: translate(-50%, 0);
                 /* The tip is a https://css-tricks.com/snippets/css/css-triangle/ */
                 width: 0;
                 height: 0;
                 /* The tip is 8px high, and 12px wide. */
                 border-left: 6px solid transparent;
                 border-right: 6px solid transparent;
                 border-top: /* TIP_HEIGHT= */ 8px solid white;
             }
         /* JavaScript will position this div at the bottom of the popup tip. */
         .popup-container {
             cursor: auto;
             height: 0;
             position: absolute;
             /* The max width of the info window. */
             width: 200px;
         }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Locations", "Index", "DarkSkyLocations")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="map"></div>

    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: { lat: 43.101306, lng: -88.382168 }
            });

            map.addListener('click', function (e) {
                placeMarkerAndPanTo(e.latLng, map);
            });
        }

        function placeMarkerAndPanTo(latLng, map) {
            var marker = new google.maps.Marker({
                url: 'https://localhost:44373/LocationMarkers/Create',
                title: 'Create Location',
                position: latLng,       
                map: map
            });
            
            marker.addListener('click', function () {
                window.location.href = marker.url;
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIni_ta1ZP0Guay2wh3t99DEhEAq3bkT0&callback=initMap"
            type="text/javascript"></script>


</body>
</html>